<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
    </head>

    <body>
        <h1>th:each</h1>

        <table border="1">
            <tr>
                <th>index</th>
                <th>count</th>
                <th>size</th>
                <th>even</th>
                <th>odd</th>
                <th>first</th>
                <th>last</th>
                <th>Person ID+Name</th>
                <th>Person link</th>
                <th>Edit link</th>
                <th>Delete link</th>
            </tr>

            <tr th:each="person, state : ${people}">
                <td th:text="${state.index}">index</td>
                <td th:text="${state.count}">count</td>
                <td th:text="${state.size}">size</td>
                <td th:text="${state.even}">even</td>
                <td th:text="${state.odd}">odd</td>
                <td th:text="${state.first}">first</td>
                <td th:text="${state.last}">last</td>
                <td><span th:text="${person.getId()}">Person Id</span> + <span th:text="${person.getName()}">Person Name</span></td>
                <td><a th:href="@{/people/{id}(id=${person.getId()})}"><span th:text="${person.getName()}">Person Name</span></a></td>
                <td><a th:href="@{/people/{id}/edit(id=${person.getId()})}">edit</a></td>
                <td>
                    <form th:method="delete" th:action="@{/people/{id}(id=${person.getId()})}">
                        <input type="submit" value="delete">
                    </form>
                </td>
            </tr>
        </table>

        <a th:href="@{/people/new}">Create new person</a>

    </body>
</html>